* {
    cursor: url(img/purplecursor.cur), auto;
}

body {
    background-color: #c0d6fa;
    font-family: "DotGothic16", sans-serif;
    font-size: 40px;
}

h1{
    opacity: 70%;
    left: 730px;
}

#spark1 {
    position: fixed;
    top: 100px;
    left: 100px;
}
#spark2 {
    position: fixed;
    top: 570px;
    left: 1300px;
}
#spark3 {
    position: fixed;
    top: 600px;
    left: 98px;
}
#spark4 {
    position: fixed;
    top: 300px;
    left: 130px;
}
#spark5 {
    position: fixed;
    top: 400px;
    left: 1380px;
}
#spark6 {
    position: fixed;
    top: 400px;
    left: 200px;
}
#spark7 {
    position: fixed;
    top: 300px;
    left: 1200px;
}
#spark8 {
    position: fixed;
    top: 80px;
    left: 1000px;
}
#spark9 {
    position: fixed;
    top: 80px;
    left: 300px;
}
#spark10 {
    position: fixed;
    top: 100px;
    left: 1300px;
}
#spark11 {
    position: fixed;
    top: 600px;
    left: 1200px;
}
#bluerose {
    position: fixed;
    opacity: 70%;
    top: 300px;
    left: -100px;
    z-index: -1;
}
#clouds {
    position: fixed;
    opacity: 60%;
    top: 50px;
    left: 1000px;
    z-index: -1;
}
#clouds1 {
    position: fixed;
    opacity: 60%;
    top: -30px;
    left: -400px;
    z-index: -1;
}
#bubble {
    position: fixed;
    opacity: 30%;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.heart {
    width: 3%;
}

.contents {
    margin: 8px;
    font-size: 30px;
}

.header {
    position: relative;
    width: 100%;
    top: 25px;
    opacity: 70%;
    font-size: 60px;
    text-align: center
}

.section{
    margin-top: 50px;
    margin-right: 400px;
    margin-left: 400px;
    height: 550px;
    background-color: white;
    opacity: 70%;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    padding: 20px;
    overflow: auto;
}

#sparkle {
    height: 300px;
    width: 300px;
    background: url(img/spritesheet.png) 0 0;
}